#custom-titlebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  background: linear-gradient(to bottom, #313131 0%, #252525 100%);
  color: #222;
  padding-left: 3px;
  -webkit-app-region: drag;
  user-select: none;
  font-family: "Segoe UI", Arial, sans-serif;
  z-index: 100;
  box-sizing: border-box;
}

#titlebar-left {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

#titlebar-right {
  display: flex;
  align-items: center;
}

#min-btn, #max-btn, #close-btn, #menu-btn{
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 15px;
  width: 46px;
  height: 32px;
  margin-left: 0;
  cursor: pointer;
  border-radius: 0;
  -webkit-app-region: no-drag;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu-btn{
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 15px;
  width: 32px;
  height: 32px;
  margin-left: 0;
  cursor: pointer;
  border-radius: 0;
  -webkit-app-region: no-drag;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Dropdown menu styles */
#menu-dropdown {
  position: absolute;
  top: 36px;
  left: 20px;
  background: #252525;
  color: #fff;
  min-width: 140px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
  border-radius: 6px;
  z-index: 9999;
  display: none;
  flex-direction: column;
  padding: 8px 0;
}

#menu-dropdown.show {
  display: flex;
}

#menu-dropdown .dropdown-item {
  padding: 8px 18px;
  cursor: pointer;
  font-size: 15px;
  transition: background 0.15s;
}

#menu-dropdown .dropdown-item:hover {
  background: #444;
}

#min-btn:hover, #max-btn:hover, #menu-btn:hover {
  background: #919191;
}

#close-btn:hover {
  background: #e81123;
  color: #fff;
}

body { 
    margin: 0px; 
    background: #1E1E1E; 
}

#terminal {
  height: calc(100vh - 32px);
  width: 100vw;
  margin-top: 32px;
  box-sizing: border-box;
}

.xterm-viewport::-webkit-scrollbar {
  background-color: #383838;
}

.xterm-viewport::-webkit-scrollbar-thumb {
  background-color: #5e5e5e;
}